{% extends "home_template.html" %}
{% load static %}

{% block title %}Password Cracker - Cyber Oracle{% endblock %}

{% block CSS_INCLUDES %}
    <link href="{% static 'CSS/bstreeview.min.css' %}" rel="stylesheet" />
    <link href="{% static 'CSS/xterm.css' %}" rel="stylesheet" />
{% endblock CSS_INCLUDES %}

{% block application_content %}
<!--PASSWORD CRACKER APPLICATION VIEW (https://github.com/ohmybahgosh/RockYou2021.txt) (https://hashcat.net/hashcat/) -->

    <div id="terminal" class="pt-2 pb-2" style="width:100%;height:76vh;"></div>

    <div class="alert alert-warning alert-dismissible fade show" role="alert" id="hashcat_start_warning">
        <strong>Hashcat Is Running!</strong> Keep this tab open, otherwise the process will terminate.
        <!--<button type="button" class="btn close" data-dismiss="alert" onclick="$('#hashcat_start_warning').alert('close')">
            <i class="bi bi-x-lg"></i>
        </button>-->
    </div>

    <h4 class="m-0">Crack Options</h4>
    <div class="p-1 border-bottom">
        <div class="row">
        <label class="col btn btn-primary p-1 ms-2 me-2" id="radio_btn_basic_config">
            <input hidden type="radio" name="hashcat_config_option" id="hashcat_config_radio_basic" value="basic" checked="">
            Basic Configuration
        </label>
        <label class="col btn btn-primary p-1 ms-2 me-2" id="radio_btn_advanced_config">
            <input hidden type="radio" name="hashcat_config_option" id="hashcat_config_radio_advanced" value="advanced">
            Advanced Configuration
        </label>
        </div>
    </div>

    <div class="container p-1" id="basic_config_form">
        <div class="row mt-1 mb-1">
            <div class="col-6">
                <select id="hash_type_selector" class="form-control">
                    {% for hashtype, contents in password_hash_matrix.items %}
                    <option value={% if hashtype == 'NTLM' %}"1000"{% endif %}>{{hashtype}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-6">
            <label>
                <input type="checkbox" id="temperature_abort_checkbox" value="">
                Abort if temperature reaches 100 degrees Celsius
            </label>
            </div>
        </div>

        <div class="row mt-1 mb-1">
            <div class="col-6">
                <select id="attack_mode_selector" class="form-control">
                    <option value="0">Straight (Wordlist)</option>
                    <option value="3">Brute-force</option>
                </select>
            </div>
            <div class="col-6">
            <label>
                <input type="checkbox" id="optimized_kernels_checkbox" value="">
                Enable optimized kernels (limits password length)
            </label>
            </div>
        </div>
        <div class="row mt-1 mb-1">
            <div class="col-12">
                <input class="form-control" type="text" id="command_preview_basic" disabled>
            </div>
        </div>
    </div>

    <div class="container p-1 m-0" id="advanced_config_form">
        <div class='row mt-1 mb-1'>
            <div class="col-12">
                <label class="form-control">
                    Customize cracking with advanced hashcat parameters, refere to <a href="https://hashcat.net" target="_blank">Hashcat Wiki</a> for help. Use #[hashtype].hashes# to specify path to file containing [hashtype] hashes.
                </label>
            </div>
        </div>
        <div class='row mt-1 mb-1'>
            <div class="col-12">
                <input class="form-control" type="text" id="hashcat_parameters_input" placeholder="Type Hashcat parameters here">
            </div>
        </div>
        <div class="row mt-1 mb-1">
            <div class="col-12">
                <input class="form-control" type="text" id="command_preview_advanced" disabled>
            </div>
        </div>
    </div>

    <div class="container p-1">
        <div class="row">
            <div class="col-12">
                <input class="btn btn-warning form-control" type="button" id="commence_cracking" value="Start Cracking">
            </div>
        </div>
        <!--<div class="row mt-1 mb-1" id="buttons_in_running_state">
            <div class="col-2">
                <input class="btn btn-success form-control" type="button" id="send_status_command" value="[s]tatus">
            </div>
            <div class="col-2">
                <input class="btn btn-primary form-control" type="button" id="send_pause_command" value="[p]ause">
            </div>
            <div class="col-2">
                <input class="btn btn-secondary form-control" type="button" id="send_bypass_command" value="[b]ypass">
            </div>
            <div class="col-2">
                <input class="btn btn-warning form-control" type="button" id="send_checkpoint_command" value="[c]heckpoint">
            </div>
            <div class="col-2">
                <input class="btn btn-danger form-control" type="button" id="send_finish_command" value="[f]inish">
            </div>
            <div class="col-2">
                <input class="btn btn-danger form-control" type="button" id="send_quit_command" value="[q]uit">
            </div>
        </div>-->
    </div>

    <hr>

    <h4>Hash Tree View</h4>
    <div id="hash_tree" class="bstreeview"></div> <!--TODO: update the tree after cracking completes-->
{% endblock %}

{% block JS_INCLUDES %}
  <script src="{% static 'JS/bstreeview.min.js' %}"></script>
  <script src="{% static 'JS/xterm3.js' %}"></script>
  <script>
      // https://www.jqueryscript.net/other/collapsible-tree-bootstrap.html
      var hash_tree_data = [
      {% for hashtype, contents in password_hash_matrix.items %}
          {text: "<i class='bi bi-hash bold'></i> {{hashtype}}",
          nodes: [
          {% for host_id, hashes in contents.items %}
              {text: "<i class='bi bi-display'></i> <a href='/host_detail?host_id={{host_id}}'>{{host_id}}</a>",
              nodes: [
              {% for passwd_hash, passwd_plain in hashes.items %}
                  {text: "<i class='bi bi-key'></i> {{passwd_hash}}<i class='bi bi-dash-lg p-3'></i>{% if passwd_plain == None %}{{passwd_plain}} <span class='badge bg-success'>Safe</span>{% else %}{{passwd_plain}} <span class='badge bg-danger'>Cracked</span>{% endif %}"},
              {% endfor %}
              ]},
          {% endfor %}
          ]},
      {% endfor %}
      ]

      $('#hash_tree').bstreeview({ 
          data: hash_tree_data
      });

      $('#hash_tree').bstreeview({ 
          expandIcon: 'fa fa-angle-down',
          collapseIcon: 'fa fa-angle-right'
      });

      $('#hash_tree').bstreeview({ 
          indent: 2
      });
  </script>

  <script>
      //https://xtermjs.org/
      var terminal_disabled = true;
      var term = new Terminal({
      cursorBlink: true,
      rows: 30,
      cols: 135,
      });
      const ws = new WebSocket("ws://{{CENTRAL_MONITOR_BASE_URL}}/ws/xterm_terminal/");
      var curr_line = "";
      var entries = [];
      term.open(document.getElementById("terminal"));
      term.write("Initialization Complete.");

      term.prompt = () => {
      if (curr_line) {
          let data = { method: "command", arguments: curr_line };
          //term.clear() // clear the terminal
          ws.send(JSON.stringify(data));
      }
      };
      term.prompt();

      // take action when data is received from socket
      ws.onmessage = msg => {
      if (JSON.parse(msg.data).data.includes("HASHCAT_TERMINATED")){
          $("#commence_cracking").prop("disabled", false);
          $("#hashcat_start_warning").alert("close");
          toastr["success"]("Hashcat has finished execution.")
      }
      term.write("\r\n" + JSON.parse(msg.data).data);
      curr_line = "";
      };

      term.on("key", function(key, ev) {
          if (!terminal_disabled){
              //Enter
              if (ev.keyCode === 13) {
                  if (curr_line) {
                  entries.push(curr_line);
                  term.write("\r\n");
                  term.prompt();
                  }
              } else if (ev.keyCode === 8) {
                  // Backspace
                  if (curr_line) {
                  curr_line = curr_line.slice(0, curr_line.length - 1);
                  term.write("\b \b");
                  }
              } else {
                  curr_line += key;
                  term.write(key);
              }
          }
      });
  </script>

  <script>
      // a ton of jquery crap, it smells so bad
      $('#hashcat_start_warning').hide()
      // $("#buttons_in_running_state").hide()
      $("#basic_config_form").show();
      $("#advanced_config_form").hide();
      $("#radio_btn_basic_config").addClass("btn-primary").removeClass("btn-secondary");
      $("#radio_btn_advanced_config").addClass("btn-secondary").removeClass("btn-primary");
      $("#hashcat_config_radio_basic").prop("checked", true).trigger("click");
      $("input[name=hashcat_config_option]").click(function(){
          if (this.value == "basic") {
              $("#basic_config_form").show();
              $("#advanced_config_form").hide();
              $("#radio_btn_basic_config").addClass("btn-primary").removeClass("btn-secondary");
              $("#radio_btn_advanced_config").addClass("btn-secondary").removeClass("btn-primary");
          } else if (this.value == "advanced") {
              $("#basic_config_form").hide();
              $("#advanced_config_form").show();
              $("#radio_btn_basic_config").addClass("btn-secondary").removeClass("btn-primary");
              $("#radio_btn_advanced_config").addClass("btn-primary").removeClass("btn-secondary");
          } else {/*pass*/}
      });

      function update_command_preview_basic() {
          $("#command_preview_basic").prop("value", "#hashcat# " + " -a "+$("#attack_mode_selector").val() + " -m " + $("#hash_type_selector").val());
          if ($("#optimized_kernels_checkbox").prop("checked") == true) { $("#command_preview_basic").prop("value", $("#command_preview_basic").val() + " -O");}
          if ($("#temperature_abort_checkbox").prop("checked") == true) {$("#command_preview_basic").prop("value", $("#command_preview_basic").val() + " --hwmon-temp-abort=100 ");}
          $("#command_preview_basic").prop("value", $("#command_preview_basic").val() + " #" + $("#hash_type_selector").text().trim()+".hashes#");
          if ($("#attack_mode_selector").val() == "0"){$("#command_preview_basic").prop("value", $("#command_preview_basic").val() + " #rockyou.txt#");}
          if ($("#attack_mode_selector").val() == "3"){$("#command_preview_basic").prop("value", $("#command_preview_basic").val() + " --increment ?a?a?a?a?a");}
      }
      $("#hash_type_selector").on("input", update_command_preview_basic);
      $("#attack_mode_selector").on("input", update_command_preview_basic);
      $("#temperature_abort_checkbox").on("input", update_command_preview_basic);
      $("#optimized_kernels_checkbox").on("input", update_command_preview_basic);
      update_command_preview_basic();
      $("#hashcat_parameters_input").on("input", function(){
          $("#command_preview_advanced").prop("value", "#hashcat#   "+$("#hashcat_parameters_input").val());
      });

      function send_to_websocket(args){
          curr_line+=args;
          term.write(args);
          entries.push(curr_line);
          term.write("\r\n");
          term.prompt();
      }
      $("#commence_cracking").click(function(){
          if ($("input[name=hashcat_config_option]:checked").val() == "basic"){
              send_to_websocket($("#command_preview_basic").val());
          } else if ($("input[name=hashcat_config_option]:checked").val() == "advanced"){
              send_to_websocket($("#command_preview_advanced").val());
          }
          $('html, body').animate({scrollTop: $("#terminal").offset().top});
          $('#hashcat_start_warning').show();
          $("#commence_cracking").prop("disabled", true);
          toastr["success"]("Hashcat started execution.")
          // $("#commence_cracking").hide();
          // $("#buttons_in_running_state").show();
  }); 

  // the followin is disabled becase this kind of interaction happens through curses, and there is no way to achieve that on windows
  // var paused = false;
  // $("#send_status_command").click(function(){send_to_websocket("s");});
  // $("#send_pause_command").click(function(){
  //     if (paused){
  //         send_to_websocket("r");
  //         $("#send_pause_command").prop("value", "[p]ause");
  //     }
  //     else {
  //         send_to_websocket("p");
  //         $("#send_pause_command").prop("value", "[r]esume");
  //     }
  //     });
  // $("#send_bypass_command").click(function(){send_to_websocket("b");});
  // $("#send_checkpoint_command").click(function(){send_to_websocket("c");});
  // $("#send_finish_command").click(function(){send_to_websocket("f");$("#commence_cracking").show();$("#buttons_in_running_state").hide();});
  // $("#send_quit_command").click(function(){send_to_websocket("q");$("#commence_cracking").show();$("#buttons_in_running_state").hide();});
  </script>
{% endblock JS_INCLUDES %}